@font-face {
    font-family: 'Bitter-Thin';
    src: url('../assets/fonts/bitter/Bitter-Thin.woff2');
    src: url('../assets/fonts/bitter/Bitter-Thin.woff');
    src: url('../assets/fonts/bitter/Bitter-Thin.eot');
    src: url('../assets/fonts/bitter/Bitter-Thin.ttf');
}

@font-face {
    font-family: 'Bitter-Light';
    src: url('../assets/fonts/bitter/Bitter-Light.woff2');
    src: url('../assets/fonts/bitter/Bitter-Light.woff');
    src: url('../assets/fonts/bitter/Bitter-Light.eot');
    src: url('../assets/fonts/bitter/Bitter-Light.ttf');
}

@font-face {
    font-family: 'Bitter-Regular';
    src: url('../assets/fonts/bitter/Bitter-Regular.woff2');
    src: url('../assets/fonts/bitter/Bitter-Regular.woff');
    src: url('../assets/fonts/bitter/Bitter-Regular.eot');
    src: url('../assets/fonts/bitter/Bitter-Regular.ttf');
}

@font-face {
    font-family: 'Butler';
    src: url('../assets/fonts/butler/Butler.woff2');
    src: url('../assets/fonts/butler/Butler.woff');
    src: url('../assets/fonts/butler/Butler.ttf');
}