@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Navigation */
@import './nav.css';

/* Hero Section */
@import './heroSection.css';

/* Biography Section */
@import './biographySection.css';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
}

h1, h2 {
    font-family: 'Playfair', serif;
    font-weight: 500;
    font-size: 5.4rem;
}

h3 {
    text-transform: uppercase;
}

p {
    font-family: 'Bitter-Regular';
}

p {
    font-size: 2rem;
}

.section-five ul {
    font-size: 2.4rem;
}